
.imagen{
    border: 2px  solid;
    text-decoration: none;

}

.Cardscontainer{
    background-color: rgba(0, 0, 0, 0.349);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.cards{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.507);
    margin-top: 5%;;
    height: 300px;
    width:  400px;
    margin: auto;
    border-radius: 80px;
    text-decoration: none;
    overflow: hidden;

}
.title{
    color: rgb(247, 3, 206);
    background-color: rgba(0, 0, 0, 0.76);
    margin:0 auto;
    width: 100%;
    box-sizing: border-box;    
    border-top-right-radius:150px ;
    border-top-left-radius:100px ;
    padding-top: 37px;

}